body {
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Droid Sans", Ubuntu, Cantarell, "Fira Sans", Helvetica, Arial, sans-serif;
}

html{
    scroll-behavior:smooth
}

#root {
    display: flex;
    width: auto;
    height: auto;
    max-width: none;
    flex-direction: column;
    padding: 0;
}

main {
    width: auto;
    height: auto;
}


/* Animations */
@keyframes fadeInAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes slideInLeftAnimation {
    from {
      transform: translateX(-50px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes slideInRightAnimation {
    from {
      transform: translateX(50px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}

@keyframes scaleInAnimation {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
}

@keyframes fadeInSlideUpAnimation {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes slideInTopAnimation {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-1.5em);
    }
}


/* Header component */
header {
    height: 100%;
    max-width: 50vw;
    min-width: 10vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #202020ee;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 0 10px 10px 0;
}

header a {
    color: #fff;
    font-style: none;
}

header a:hover {
    color: red;
}

header button {
    margin: 0;
    padding: 0;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5vh;
    height: 1.5em;
    padding-bottom: 3em;
    box-shadow: 0px 0.6px 0 rgb(61, 61, 61);
}

.header-title-nav {
    display: flex;
    align-items: center;
}

.header-title-nav img {
    height: 1.5em;
    margin-right: 1em;
    padding-bottom: 0.2em;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) hue-rotate(0deg) drop-shadow(5px 5px 0px #ff0000);
}

.header-title-nav span {
    font-size: 1.5em;
    color: rgb(204, 60, 60);
}

.header-title-nav span:hover {
    color: rgb(189, 54, 54);
    transition-duration: 0.2s;
}

.main-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto 0;
}

.main-menu li a {
    display: flex;
    align-items: center;
    margin-left: 1.2em;
}

.main-menu li a:hover {
    transition-duration: 0.3s;
}

.main-menu .menu-item-icon svg {
    font-size: 1.5em;
}

.main-menu .menu-item-text {
    margin-left: 2em;
    font-size: 1.25em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
}
  
.sidebar-toggle {
    top: 0;
    right: 0;
    background: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    z-index: 2;
    height: 1.5em;
}

.sidebar-toggle:focus {
    outline: none;
}

.sidebar-toggle svg {
    font-size: 1.5em;
    opacity: 0.7;
}

.sidebar-toggle svg:hover {
    opacity: 0.8;
}

.open {
    max-width: 30vw;
    min-width: 10vw;
    transition: min-width 0.5s, max-width 0.5s;
}

.closed {
    max-width: 10vw;
    min-width: 3vw;
    transition: min-width 0.5s, max-width 0.5s;
}

.closed .main-menu {
    align-items: center;
}

.closed .main-menu li a {
    margin-left: 0;
}

.chosen-menu-item {
    background-color: rgb(31, 30, 30);
    transition-duration: 0.1s;
}

.closed .chosen-menu-item {
    box-shadow: -1.5px 0 0 red;
}

.open .chosen-menu-item {
    border-left: 3px solid rgba(255, 0, 0, 0.60);
}

.chosen-menu-item span {
    color: rgb(189, 54, 54);
    transition-duration: 0.2s;
}

.footer {
    margin-top: auto;
}

.credentials {
    box-shadow: 0px -0.6px 0px rgb(61, 61, 61);
    padding-top: 10px;
    margin-top: 2vh;
    margin-bottom: .5vh;
}

.credentials ul {
    display: flex;
    justify-content: space-around;
}

.credentials ul li a {
    display: flex;
    align-items: center;
}

.credentials ul li a:hover {
    transition-duration: 0.3s;
}

.credentials .credential-item-icon {
    height: 1em;
}

.credentials .credential-item-icon svg {
    font-size: 1em;
}

.credentials .credential-item-text {
    font-size: 1em;
    margin-left: 0.5em;
}

.closed .credentials ul {
    flex-wrap: wrap;
}


/* TeamSelector component */
.teamselector {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    justify-content: center;
}

.teamselector-items {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}
  
.teamselector-item {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    width: 38vw;
    height: 23vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.teamselector-item-header {
    display: none !important;
}

.teamselector-item select {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 2.5px 10px #770202;
    color: #ffffff;
    font-style: italic;
    font-weight: bold;
    font-size: 1em;
    background-color: #202020ee;
    border-radius: 5px;
}

.teamselector-item select:focus {
    outline: none;
}

.teamselector-item ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.teamselector-item li {
    margin-bottom: 10px;
}

.teamselector-item-phc-icon {
    height: 20px;
}

.teamselector-item-stats-player {
    font-size: 1.1em;
    margin: 1vh 0 1.5vh 0;
}

.teamselector-item-stats li select option {
    display: flex;
    align-items: center;
}

.teamselector-submit {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #d4d4d4;
    color: #000000;
    font-size: 18px;
    cursor: pointer;
    transition: color .5s, background-color .5s;
}

.teamselector-submit:focus {
    outline: none;
}

.teamselector-submit:hover {
    background-color: #000000;
    color: #d4d4d4;
    transition: color .5s, background-color .5s;
}

.teamselector-item-stats ul {
    display: flex;
}

.teamselector-item-stats ul li {
    max-width: 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamselector-item-stats ul li img {
    height: 7vh;
    width: 6vw;
    border-radius: 2.5px;
}

.teamselector-item-stats-skeleton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    width: 6vw;
}

.teamselector-item-stats-skeleton svg {
    background-color: #e9e9e9;
    border-radius: 50px;
    padding: 10px;
    color: #000000;
    font-size: 2emw;
}

.teamselector-item-stats-percentage {
    color: rgb(43, 182, 43);
    font-weight: 560;
}

.teamselector-message {
    width: 15vw;
    height: 5vh;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 2px rgb(255, 255, 255), 0px 0px 2px rgb(255, 255, 255);
    margin-bottom: 1.5vh;
}

.teamselector-error, .teamselector-winner {
    background-color: #181717;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 600;
}


/* ErrorPage component */
.error-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    animation: fadeInAnimation .3s ease-in forwards;
}

.error-page img {
    height: 20vh;
    animation: slideInLeftAnimation 1.5s ease-out forwards;
    width: 12vw;
}

.error-page h1 {
    max-width: 50vw;
}

.error-page p {
    font-size: 1.5em;
    max-width: 60vw;
}


/* LanguageSelector Component */
.language-selector {
    display: flex;
    justify-content: center;
}

.language-selector__select {
    cursor: pointer;
    max-width: 7em;
    padding: 8px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    background-color: #2b2a2aee;
    color: #e5e2e2;
}

.language-selector__select:hover {
    border-color: #666;
}

.language-selector__select:active {
    border: none;
}
.language-selector__select:focus {
    outline: none;
    border: none;
}

.closed .language-selector__select{
    max-width: 3.75em;
}

.language-selector-item-code {
    padding: 20px;
}


/* Home component */
section {
    position: relative;
    cursor: default;
    display: flex;
    width: auto;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0.6px 0 rgb(61, 61, 61);
}

/* Landing part */
.landing {
    background-color: #040501;
    z-index: 0;
    gap: 10em;
    flex-wrap: wrap;
}

.landing-text {
    cursor:default;
    max-width: 50em;
    animation: fadeInAnimation .8s ease-in forwards;
}

.landing-img {
    display: flex;
    height: 100vh;
    align-items: flex-end;
    animation: slideInRightAnimation 1s ease-in;
}

.landing-text h1 {
    text-transform: uppercase;
    font-size: 6em;
    background-image: linear-gradient(to right bottom, rgb(204, 60, 60), #000000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 5px;
}

.landing-text h3 {
    font-size: 1.5em;
}

.landing-text p {
    font-size: 1.1em;
}

.landing img {
    position: relative;
    height: 60em;
    width: 55em;
}

.landing-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3.5em;
}

.landing-nav a {
    border: 3px solid #7e0808;
    border-radius: 20px 5px 20px 5px;
    padding: 10px 50px;
    display: flex;
    gap: .2em;
    align-items: center;
    color: #b8b2b2;
    transition: all .3s;
}

.landing-nav a:hover {
    background-image: linear-gradient(to left, #802828, #420404);
    border: 3px solid #b8b2b2;
    color: #fff;
    transition: all .3s;
    transform: translateY(-2px);
}

.landing-nav-text {
    font-size: 1.2em;
}

.landing-nav-icon {
    height: 1.5em;
}

.landing-nav-icon svg {
    font-size: 1.5em;
}

.arrow-wrapper {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.arrow-wrapper a {
    text-decoration: none;
    color: #fff;
}

.arrow-wrapper a svg {
    font-size: 2em;
    animation: moveUpDown 2s infinite alternate;
}

/* Features part */
.features {
    flex-direction: column;
    padding: 0 10em;
}

.features h2 {
    display: block;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: rgb(204, 60, 60);
    font-size: 1.2em;
}

.features h3 {
    font-size: 2.5em;
}

.features p {
    font-size: 1.1em;
    max-width: 50em;
    word-break: keep-all;
}

.features ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 5em;
    gap: 2em;
}

.features ul li {
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 35em;
    height: 15rem;
    padding: 30px 30px;
    background-color: #181818;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

.features ul li:hover {
    transform: translateY(-10px);
}

.feature-item-icon {
    background-color: #302f2f;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-item-icon svg {
    color: #beb7b7;
    font-size: 2em;
}

.feature-item-title {
    font-size: 1.5em !important;
}

.feature-item-description {
    text-align: left;
}

/* MatchPredict part */
.predict-match {
    flex-direction: column;
    padding: 0 10em;
}

.predict-match h2 {
    display: block;
    font-size: 2.5em;
}

.predict-match p {
    font-size: 1.1em;
    max-width: 50em;
    word-break: keep-all;
}

.predict-match .teamselector {
    margin-top: 2.5em;
}

.predict-match .teamselector-items {
    width: auto;
}

/* TeamCredential part */
.team-credential {
    flex-direction: column;
    padding: 0 10em;
    min-height: 50vh;
}

.team-credential h2 {
    display: block;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: rgb(204, 60, 60);
    font-size: 1.2em;
}

.team-credential h3 {
    font-size: 2.5em;
}

.team-credential-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-credential-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    max-width: 30em;
}

.team-credential-item img {
    height: 8em;
    border-radius: 50em;
}

.team-credential-item-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: default;
}

.team-credential-item-text h3 {
    font-size: 1.2em;
    margin: 0;
}

.team-credential-item-credentials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.team-credential-item-credentials a {
    color: #fff;
    text-decoration: none;
    height: 1.2em;
    transition: color .3s;
}

.team-credential-item-credentials a:hover {
    color: rgb(204, 60, 60);
}

.team-credential-item-credentials a svg {
    font-size: 1.2em;
}
